node_modules/

dist/
dist-ssr/

#just in case xd
.env

.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
Thumbs.db

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.cache/
.vite/
#por si las dudas
.gh-pages-cache/